body {
	font-family: monospace;
    background-color: #000000;
    color: #00CC00;
}
em {
	font-weight: bold; /* Ponemos en énfasis en negrita */
}
p{
    font-size: 18px;
}
h1{
    font-size: 18px;
}
h2{
    font-size: 18px;
}
h2{
    font-size: 18px;
}