body {
	font-family: sans-serif;
    background-color: #5C1F00;
	color: #FFCC00;
}
em {
	font-weight: bold; /* Ponemos en énfasis en negrita */
}
p{
    font-size: 22px;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 48px;
}
h2{
    font-size: 36px;
}